body{
    color:rgb(195, 195, 195);
    font-family: Arial, Helvetica, sans-serif;
}
.head-container{
    background-color: beige;
    padding: 20px;   
}
.div-container{
    color: black;
    text-align: center;
}
.card-contaier{
    width:450px;
    padding:20px;
    background-color: white;

}
main{
    padding: 20px;
}
